/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #f4f4f4;
    color: #013474;
    line-height: 1.6;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

/* Header avec le logo et la navbar */
header {
    background-color: #404040;
    color: #99a527;
    padding: 20px 0;
    text-align: center;
}

.logo {
    max-width: 150px;
    height: auto;
    display: block;
    margin: 0 auto 20px auto;
}

nav ul {
    padding: 0;
    list-style: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #99a527;
    text-decoration: none;
    font-size: 18px;
}

nav ul li a:hover {
    color: #013474;
}

/* Galerie de photos d'Arras en grille 2x2 */
.gallery {
    margin: 50px 0;
}

.gallery h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 36px;
}

/* Grille 2x2 pour les images */
.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 colonnes */
    grid-gap: 20px; /* Espacement entre les images */
}

.gallery-item {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.gallery-item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.gallery-item img:hover {
    transform: scale(1.05);
}

/* Superposition (overlay) */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7); /* Couleur semi-transparente */
    opacity: 0;
    transition: opacity 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery-item:hover .overlay {
    opacity: 1;
}

.text {
    color: #99a527;
    font-size: 18px;
    text-align: center;
    padding: 10px;
}

/* Section History */
.history {
    padding: 40px 0;
    background: #f4f4f4;
    text-align: center;
}

.history h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.history p {
    font-size: 18px;
    line-height: 1.8;
}

/* Section Attractions */
.attractions {
    padding: 40px 0;
    text-align: center;
}

.attractions h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.attractions ul {
    list-style: none;
    padding: 0;
}

.attractions ul li {
    font-size: 18px;
    margin-bottom: 10px;
}

/* Footer */
footer {
    background-color: #404040;
    color: #99a527;
    text-align: center;
    padding: 10px 0;
}

footer p {
    margin: 10px 0;
}
